body {
    background: linear-gradient(to bottom, rgb(11, 170, 170),rgb(201, 212, 212));
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-container{
    background: #EEB2AB;
    width:400px;
    height:500px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

h1{
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    margin: 10px 10px;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 20px;
    text-align: center;
    background-color: lightgrey;
}

.remember-me {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 50px;
    background: #69dcff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#google-login{
    background-color: black;   
}